@model MilenioCloudModel.Models.Usuario_Rol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario_Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_caducidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_caducidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
