@model MilenioCloudModel.Models.Poblado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poblado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio.Departamento_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio.Departamento_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Poblado_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
