@model IEnumerable<MilenioCloudModel.Models.Poblado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio.Departamento_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio.Departamento_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Poblado_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Poblado_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Poblado_Id })
        </td>
    </tr>
}

</table>
